.osnova {
    display: flex;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 60%);
    padding-top: 10px;
    margin: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1750px;
    flex-direction: row;
}
*{
    text-decoration: none; 
    margin: 0%;
    padding: 0%;
}
.osnova2 {
    display: flex;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(0,0,0,1) 60%);
    width: 1200px;
    height: 1678px;
    border-radius: 20px;
    border:5px solid rgb(0, 0, 0);
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    
}
.zag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: antiquewhite;
    height: 90px;
    width: 1200px;
    border-radius: 10px;
    border:5px solid rgb(0, 0, 0);
    
}
.baba {
    margin: 0 auto;
    text-decoration: none;color: rgb(0, 0, 0);
    display: flex;
    width: 120px;
    background-color: #C0A8C3;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
    color-scheme: black;
}
.ded {
    margin: 0 auto;
    text-decoration: none;color: rgb(0, 0, 0);
    display: flex;
    width: 120px;
    background-color: #C0A8C3;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
}
.sety {
    margin: 0 auto;
    text-decoration: none;color: rgb(0, 0, 0);
    display: flex;
    width: 120px;
    background-color: #C0A8C3;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
}
.help {
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    width: 120px;
    text-decoration: none; color: black;
    background-color: #C0A8C3;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
}
.all {
    margin: 0 auto;
    
    display: flex;
    width: 120px;
    background-color: #C0A8C3;
    height: 40px ;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: black;
}
.name {
    
    display: flex;
    justify-content: center;
    padding-left: -900px;
    padding-top: 20px;
    left: -400px;
    
    
}
.video1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.osvideo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 200px;
}
.vid12 {
    display: flex;
    position: relative;
    top: -650px;
}